<!DOCTYPE html>
<html>
<head>
	<title>TODO-List</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

	<div class="box" id="heading">
		<h1><%= listTitle %></h1>
	</div>

	
		
			<!--<ul> <li>Buy Food</li>
			<li>Cook Food</li>
			<li>Eat Food</li>
			</ul> -->
			
			<!-- <li><%= newListItem %></li> -->
		
	<div class="box">	
			<% for(var i=0;i<newListItem.length;i++) {%>
			<div class="item">
			<input type="checkbox" >
			<p> <%=newListItem[i] %></p>
			</div>
			<%}%>
		
		<form class="item" action="/" method="post">
			<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
			<button name="button" type="submit" value="<%= listTitle %>">+</button>
		</form>
		
	</div>	

		
</body>
</html>